<h1>Contact us</h1>
<p>Contact us using the form below</p>

<form method="post">
    <label for="email">Your Email:</label>
    <input type="email" name="email" value="<?php if(isset($_POST['email'])) echo (htmlspecialchars($_POST['email'])); ?>">
    <label for="antispam">Antispam - enter the current year:</label>
    <input type="text" name="antispam" required>
    <textarea name="message" id="message" cols="30" rows="10"><?php if(isset($_POST['message'])) echo(htmlspecialchars($_POST['message'])); ?></textarea>
    <input type="submit" value="Send">
</form>